<div class='hero-unit'>
  <%= image_tag 'logo.png', :class => 'pull-right' %>

  <h1>Site News</h1>

  <br clear=all>
  <div class='span8'>
    <h2>Space Updates</h2>
    <% @siteactions.each do |action| %>
      <div class='actions'>
        <% if action.user %>
          <%= image_tag action.user.gravatar_url(:thumb) %>
          <%= action.user.full_name %>
        <% else %>
          The space
        <% end %>
         
        <%= action.type %>
        <% if action.object %>
          <%= link_to action.object.name, :action => 'show', :controller => action.obj_type.downcase.pluralize, :id => action.obj_id%>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='span8'>
     <h2>New Users</h2>
     <% @newusers.each do |action| %>
      <div class='actions'>
        <% if action.user %>
          <%= image_tag action.user.gravatar_url(:thumb) %>
          <%= action.user.full_name %>

          has joined <%= Settings.site_name %>! Make sure you say hello!
        <% end %>
      </div>
    <% end %>
  </div>
</div>
