= form_for @tool, :html => { :multipart => true }  do |t| 
  %p
    = t.label "Name: "
    = t.text_field :name
  %p
    = t.label "Category: "
    = t.select :tool_category_id, @categories
  %p
    = t.label "Description: "
    = t.text_field :description
  %p
    = t.label "Tool Picture: "
    = t.file_field :picture

  = t.submit
