.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1 HeatSync Labs

  - if @username.length > 0
    - h2 = @username + "'s Tools"
  - else 
    - h2 = "Tools"
  
  %h2= h2
  
  %p= link_to "Add a tool", {:controller => "tools", :action => "new"}
  
  %table
    %thead
      %td= "Name"
      %td= "Owner"
      %td= "Description"
    %tbody
      - @Tools.each do |tool|
        %tr
          %td= tool.name
          %td= tool.owner_id
          %td= tool.description
