.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1 HeatSync Labs

  %h2= "Tools"
  
  %p= link_to "Add a tool", {:controller => "tools", :action => "new"}
  
  %table
    %thead
      %td= sort_link "Type", :type
      %td= sort_link "Name", :name
      %td= sort_link "Owner", :user_id
      %td= sort_link "Description", :description
    %tbody
      - @tools.each do |tool|
        %tr
          %td= tool.type
          %td= tool.name
          - if !tool.user.nil?
            %td= tool.user.full_name
          - else
            %td
          %td= tool.description
