.page-header
  %h1 Resend confirmation instructions

%fieldset
  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = f.error_messages :class => 'alert-message block-message error'

    .clearfix
      = f.label :email
      .input
        = f.email_field :email, :autofocus => true

    .clearfix
      .actions
        = f.submit 'Resend confirmation instructions', :class => 'btn primary'
        = link_to 'Cancel', root_url, :class => 'btn'

- content_for :sidebar do
  .page-header
    %h1 &nbsp;

  = render :partial => 'devise/shared/links'