<h2>Edit <%= resource.full_name %></h2>

<!-- float here with the gravatar image -->

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p>
    <%= f.label :email, "Email: "%>&nbsp;
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, "Password: " %>&nbsp;
    <%= f.password_field :password %> 
    <i>(leave blank if you don't want to change it)</i>
  </p>

  <p><%= f.label :password_confirmation, "Confirmation: " %>&nbsp;
  <%= f.password_field :password_confirmation %></p>

  <p>
    <%= f.label :current_password, "Current password: " %>&nbsp;
    <%= f.password_field :current_password %>
    <i>(we need your current password to confirm your changes)</i>
  </p>
  
  <p>
    <%- # Ugly hack to make the role and label line up %>
    <%= f.label :role, "Role: ", :style => "padding-top:0px"%>&nbsp;
    <%= resource.role.name %>
  </p>

  <p><%= f.submit "Update", :class => 'btn' %></p>
<% end %>

<h3>Cancel my account</h3>

Unhappy?

<p><%= link_to "Delete my account!", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'btn' %></p>
<p><i>Don't worry, we'll still love you.</i></p>