.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1= Settings.group_name
  
  %h2 Administration Console
  
  .btn
    = link_to 'Settings', settings_path
  .btn
    = link_to 'Tool Categories', tool_categories_path
  .btn
    = link_to 'Roles', settings_path
  .btn
    = link_to 'Users', settings_path