<div class="hero-unit">
  <%= image_tag 'logo.png', :class => 'pull-right' %>
  <h1><%= Settings.group_name %></h1>

  <% if !@user %>
    <h2>Tools</h2>
  <% else %>
    <h2><%= @user.full_name + "'s Skills" %></h2>
  <% end %>

  <p><%= link_to "Add a skill", :controller => 'skills', :action => 'new' %></p>

  <table>
    <thead>
      <td><%= sort_link "Name", :name %></td>
      <td><%= sort_link "Description", :description %></td>
      <td><%= sort_link "More Info URL", :more_info_url %></td>
      <td><%= sort_link "Knowledgeable Users", :knowledgeable_users %></td>
    </thead>
    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td><%= skill.description %></td>
          <td><%= link_to "[link]", skill.more_info_url %></td>
          <td><%= link_to UsersSkill.where(:skill_id => skill.id).count, :controller => 'skills', :action => 'show', :id => skill.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
