.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1= Settings.group_name

  %h2= @skill.name
  
  %p
    = @skill.description
    = link_to " ... (More info)", @skill.more_info_url
  
  %h3 Knowledgable Users
  
  %p
    %ul
      - @userskills.each do |us|
        %li= us.user.full_name + " rates themselves " + us.proficiency.to_s + " out of 5"