<div class="hero-unit">
  <%= image_tag 'logo.png', :class => 'pull-right' %>
  <h1><%= @skill.name %></h1>

  <p>
  <%= @skill.description %>
  <%= link_to " ... (More info)", @skill.more_info_url %>
  </p>

  <h3>Knowledgable Users</h3>
  <p>
  <ul>
    <% @userskills.each do |us| %>
      <li><%= us.user.full_name + " rates themselves " + us.proficiency.to_s + " out of 5" %></li>
    <% end %>
  </ul>
     <p>
      <% @userskills.each do |us| %>
        <%= image_tag(us.user.gravatar_url) %></li>
      <% end %>
    </p> 
  </p>
</div>
