.hero-unit
    %h1= "Administration"

    .actions
        %clearfix
            .btn
                = link_to 'Users', admin_users_path
            .btn
                = link_to 'Roles', admin_roles_path
            .btn
                = link_to 'Site Settings', admin_settings_path
            .btn
                = link_to 'Tool Categories', tool_categories_path
