.hero-unit
    %h1= "Administration"

    .actions
        %clearfix
            .btn
                = link_to 'Users', '/admin/users'
            .btn
                = link_to 'Roles', '/admin/roles'
            .btn
                = link_to 'Configuration', '/admin/configuration'
            .btn
                = link_to 'Roles', '/admin/roles'
            .btn
                = link_to 'Tool Categories', '/tool_categories'
