<div class="hero-unit">
  <%= image_tag 'logo.png', :class => 'pull-right' %>

  <h1><%= Settings.group_name %></h1>

  <p>Hackerspace Management</p>
  <%- unless user_signed_in? %>
    <br/>
    <p><%= link_to 'Login', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to get started!</p>
  <% end %>
  <% if user_signed_in? %>
    <div class="clearfix">
      <div class="actions">
        <% # <div class="btn"><%= link_to 'My Skills', :controller => "/users_skills", :id => current_user.id % ></div> %>
        <% # <div class="btn"><%= link_to 'My Tools', :controller => "/tools", :id => current_user.id % ></div> %>
        <% # <div class="btn"><%= link_to 'My Projects', root_url, :controler => "/projects", :id => current_user.id % ></div> %>
      </div>
    </div>
  <% end %>
</div>
