.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1 HeatSync Labs

  %p Hackerspace Management

  - unless user_signed_in?
    %br/
    %p #{ link_to 'Login', new_user_session_path } or #{ link_to 'sign up', new_user_registration_path } to get started!
    
  - if user_signed_in?
    %br/
    %p #{ link_to "My Skills", {:url => { :action => "view_skills", :id => current_user.id } } }
    %p #{ link_to "My Tools", {:url => { :controller => "tools', :action => "view_tools", :id => current_user.id } } }