.hero-unit
    %h1 Users

    %table
        %thead
            %tr
                %th Name
                %th Description
                %th Members
                %th Permissions
                %th Actions
        %tbody
            - @roles.each do |r|
                %tr
                    %td= r.name
                    %td= r.description
                    %td= r.users.length
                    %td
                        %ul
                            - r.permissions do |p|
                                %li= p.name
                    %td
                        .btn
                            = link_to 'Edit', {:controller => "roles", :action => "edit", :id => r.id}
