.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1= Settings.group_name

  %h2 Roles
  
  = link_to "Add a new Role", new_role_path
  
  %table
    %thead
      %th Name
      %th Description
      %th Permissions
      %th Actions
    %tbody
      - @roles.each do |role|
        %tr
        %td= role.name
        %td= role.description
        %td= role.permissions.collect { |p| [ p.name ] }
        %td
          .btn
            = link_to "Edit", edit_role_path(role.id)
          .btn
            = link_to "Delte", roles_delete_path(:id => role.id), :confirm => "Are you sure you want to delete this role?", :method => "post"
