= form_for @users_skills, :html => { :multipart => true }  do |t|
  %p
    = t.label "Skill: "
    = t.select :skill, @all_skills
    = link_to "Add a skill", {:controller => "skills", :action => "new"} 
  %p
    = t.label "Proficiency: "
    = t.select :proficiency, @proficiency_levels

  = t.submit
