= form_for @users_skills, :html => { :multipart => true }  do |t|
  %p
    = t.label "Skill: "
    = t.select :skill_id, @all_skills
    = link_to "Add a skill", {:controller => "skills", :action => "new"} 
  %p
    = t.label "Proficiency: "
    = t.select :proficiency, @proficiency_levels
  %p
    = t.label "User: "
    = t.select :user_id, options_for_select(@users, current_user.id)
    
  = t.submit
