<div class="hero-unit">
  <%= image_tag 'logo.png', :class => 'pull-right' %>

  <% if !@user %>
  <h1>Users Skills</h1>
  <% else %>
  <h1><%= @user.full_name + "'s Skills" %></h1>
  <% end %>

  <p><%= link_to "Add a skill to your repertoire", :controller => "users_skills", :action => "new" %>

  <table>
    <thead>
      <td><%= sort_link "Name", :name %></td>
      <td><%= sort_link "Proficiency", :proficiency %></td>
      <% if !@user %>
      <td><%= sort_link "Owner", :suesr_id %></td>
      <% end %>
    </thead>
    <tbody>
      <% @uskills.each do |user_skill| %>
      <% skill = Skill.find(user_skill.skill_id) %>
      <tr>
        <td><%= link_to skill.name, skill_path(skill.id) %></td>
        <td><%= user_skill.proficiency %></td>
        <% if !@user %>
          <% if !user_skill.user.nil? %>
            <td><%= link_to user_skill.user.full_name, users_skills_path(:id=>user_skill.user.id) %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
