.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1= Settings.group_name

  %h2= "Tools"

  %p= link_to "Add a tool category", {:controller => "tool_categories", :action => "new"}

  %table
    %thead
      %td= sort_link "Name", :name
      %td= sort_link "Description", :description
    %tbody
      %tr
      - @categories.each do |c|
        %tr
          %td= c.name
          %td= c.description
