!!! 5
%html
  %head
    %title= "#{Settings.group_name} - Hackerspace Management"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

  .topbar
    .topbar-inner
      .container-fluid
        = link_to "#{Settings.group_name} - Hackerspace Management", root_url, :class => 'brand'

        %ul.nav
          / %li= link_to 'Home', root_url

        %ul.nav.secondary-nav
          - if user_signed_in?
            %li.dropdown{ 'data-dropdown' => 'dropdown' }
              = link_to current_user.email, '#', :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li= link_to 'Account Settings', edit_user_registration_path
                -# XXX: This is commented out until admin_index_path is defined. Is this a todo? -rr
                -# %li= link_to_if current_user.can_access_admin_panel?, 'Administration', admin_index_path
                %li.divider
                %li= link_to 'Logout', destroy_user_session_path

          - else
            %li= link_to 'Login', new_user_session_path

  .container
    .content
      .row
        .span16
          - if flash[:notice]
            .alert-message.success.fade.in{ 'data-alert' => 'alert' }
              = link_to 'x', '#', :class => 'close'
              %p= flash[:notice]

          - if flash[:alert]
            .alert-message.error.fade.in{ 'data-alert' => 'alert' }
              = link_to 'x', '#', :class => 'close'
              %p= flash[:alert]

        .span16
          = yield
